<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link type="text/css" href="stylesheets/calendar.css" rel="stylesheet">
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--load bootstrap bundle (for modal)-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
        <title>MyCalendarChum</title>
    </head>

    <body>
        
        <div class="topnav" id="myTopnav">
            <a href="calendar" class="active">Personal Calendar</a>
            <a href="slots" >Book a Slot</a>
            <a href="outlook">Outlook Calendar</a>
            <a href="outlooks">My Outlook Calendar</a>
            <a href="logout" id="top-right-nav-2">Sign out</a>
            <a id="top-right-nav">Welcome <%= username %></a>
            
            <a href="javascript:void(0);" class="icon" onclick="toggleNav()">
                <i class="fa fa-bars"></i>
            </a>
        </div>     


        <!--create variableS passed from backend so accessible from calendar.js-->
        <script>
            let personalEvents = <%- JSON.stringify(bookedEvents) %>;

            let bookedSlots = <%- JSON.stringify(bookedSlots) %>;

            let allEvents = <%- JSON.stringify(allEvents) %>;

            let participantEvents = <%- JSON.stringify(participantEvents) %>;

            let accountType = <%- JSON.stringify(accountType) %>;
        </script>

      

        <div id="container-fluid">

            <div class="row" style="height:100%";>

                <!--Personal Calendar Display-->
                <div class="col-lg-12" id="personalCalendar" style="background-color:#c8d8e4;">
        
                    <div id="calendar_container">


                        <div id="header" class="px-md-5 px-lg-0">
                            <div id="monthDisplay"></div>
                            <div>
                                <button id="js-back-button" type="button" class="btn btn-primary">Back</button>
                                <button id="js-forward-button" type="button" class="btn btn-primary">Forward</button>
                            </div>

                        </div>

                        <div id="weekdays">
                            <div id="monday">Monday</div>
                            <div id="tuesday">Tuesday</div>
                            <div id="wednesday">Wednesday</div>
                            <div id="thursday">Thursday</div>
                            <div id="friday">Friday</div>
                            <div id="saturday">Saturday</div>
                            <div id="sunday">Sunday</div>
                        </div>

                        <div id="calendar"></div>
                    </div>
                    
                    <!-- New Event and New Reservation Modals -->
                    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                          <button class="nav-link active" id="event-tab" data-bs-toggle="tab" data-bs-target="#event" type="button" role="tab" aria-controls="event" aria-selected="true">Event</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                          <button class="nav-link" id="reservation-tab" data-bs-toggle="tab" data-bs-target="#reservation" type="button" role="tab" aria-controls="reservation" aria-selected="false">Reservation</button>
                                        </li>
                                      </ul>

                                    <h5 class="modal-title" id="createModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                                </div>

                                <div class="modal-body">
                                    
                                    <div class="tab-content" id="myTabContent">

                                        <div class="tab-pane fade show active" id="event" role="tabpanel" aria-labelledby="event-tab">

                                            <div class="container-fluid">
                                                
                                                <form action="/calendar/create-event" method="POST">
                                    
                                                    <h4 id="js-new-event-title"></h4>

                                                    <input type="hidden" id="event-date-input" name="eventdate"/>
                                                    <!--change id name once I have finalised calendar.js (it currently uses event-title-input)-->
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" id="event-title-in" class="event-input" name="title" placeholder="Title" required/>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" id="event-desc-input" class="event-input" name="description" placeholder="Description"/>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="email" id="event-participants-input" class="event-input" name="participants" placeholder="Participants (UEA Email)"/>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label for="start">Start</label><br>
                                                            <!-- temp had to get rid of step=900 and required-->
                                                            <input type="time" id="event-start-time-input" class="event-input" name="s" placeholder="Start Time" />
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label for="end">End</label><br>
                                                            <input type="time" id="event-finish-time-input" class="event-input" name="e" placeholder="Finish Time"  />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label for="location">Location</label>
                                                            <select name="location" id="js-ev-location" class="reservation-input" onchange="checkIfCustomLocation('ev')" >
                                                                <option value="Online">Online</option>
                                                                <option value="UEA Campus">UEA Campus</option>
                                                                <option value="Other (Please specify)">Other (Please specify)</option>
                                                            </select>

                                                            <div id="js-ev-extra-uea-location-input" style="display:none;">
                                                                <input type="text" id="ev-building-input" class="event-input" name="ev_uea_location_building" placeholder="Building" required disabled>
                                                                <input type="text" id="ev-room-input" class="event-input" name="ev_uea_location_room" placeholder="Room Floor and Number (e.g. 2.37)" required disabled>
                                                            </div>

                                                            <div id="js-ev-extra-other-location-input" style="display:none;">
                                                                <input type="text" id="ev-loc-name-in" class="event-input" name="ev_other_location_name" placeholder="Location Name" required disabled>
                                                                <input type="text" id="ev-loc-add-1-in" class="event-input" name="location_line_1" placeholder="Address Line 1" required disabled>
                                                                <input type="text" id="ev-loc-add-2-in" class="event-input" name="location_line_2" placeholder="Address Line 2" disabled>
                                                                <input type="text" id="ev-loc-add-3-in" class="event-input" name="location_line_3" placeholder="Address Line 3" disabled>
                                                                <input type="text" id="ev-loc-city-in" class="event-input" name="location_city" placeholder="City" required disabled>
                                                                <input type="text" id="ev-loc-county-in" class="event-input" name="location_county" placeholder="County" disabled>
                                                                <input type="text" id="ev-loc-postcode-in" class="event-input" name="location_postcode" placeholder="Postcode" required disabled>
                                                                <input type="text" id="ev-loc-country-in" class="event-input" name="location_country" placeholder="Country" disabled>
                                                            </div>                     
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-6 d-grid gap-2">
                                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                                        </div>

                                                        <div class="col-sm-6 d-grid gap-2">
                                                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Create Event</button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="reservation" role="tabpanel" aria-labelledby="reservation-tab">

                                            <div class="container-fluid">

                                                <form action="/calendar/create-reservation" method="POST">
                                    
                                                    <h4 id="js-new-reservation-title"></h4>

                                                    <input type="hidden" id="slot-date-input" name="slotdate"/>
                                                    <!--change id name once I have finalised calendar.js (it currently uses event-title-input)-->
                                                    <!-- <input type="text" id="res-title-input" class="event-input" name="title" placeholder="Title" required/>  -->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label for="start">Start</label><br>
                                                            <input type="time" id="res-start-time-input" class="event-input" name="start" placeholder="Start Time" required/>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label for="end">End</label><br>
                                                            <input type="time" id="res-finish-time-input" class="event-input" name="end" placeholder="Finish Time" required/>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label for="location">Location</label>
                                                            <select name="location" id="js-res-location" class="reservation-input" onchange="checkIfCustomLocation('res')" >
                                                                <option value="Online">Online</option>
                                                                <option value="UEA Campus">UEA Campus</option>
                                                                <option value="Other (Please specify)">Other (Please specify)</option>
                                                            </select>
                            
                                                            <div id="js-res-extra-uea-location-input" style="display:none;">
                                                                <input type="text" id="res-building-input" class="event-input" name="res_uea_location_building" placeholder="Building" required disabled>
                                                                <input type="text" id="res-room-input" class="event-input" name="res_uea_location_room" placeholder="Room Floor and Number (e.g. 2.37)" required disabled>
                                                            </div>
                            
                                                            <div id="js-res-extra-other-location-input" style="display:none;">
                                                                <input type="text" id="res-loc-name-in" class="event-input" name="res_other_location_name" placeholder="Location Name" required disabled>
                                                                <input type="text" id="res-loc-add-1-in" class="event-input" name="location_line_1" placeholder="Address Line 1" required disabled>
                                                                <input type="text" id="res-loc-add-2-in" class="event-input" name="location_line_2" placeholder="Address Line 2" disabled>
                                                                <input type="text" id="res-loc-add-3-in" class="event-input" name="location_line_3" placeholder="Address Line 3" disabled>
                                                                <input type="text" id="res-loc-city-in" class="event-input" name="location_city" placeholder="City" required disabled>
                                                                <input type="text" id="res-loc-county-in" class="event-input" name="location_county" placeholder="County" disabled>
                                                                <input type="text" id="res-loc-postcode-in" class="event-input" name="location_postcode" placeholder="Postcode" required disabled>
                                                                <input type="text" id="res-loc-country-in" class="event-input" name="location_country" placeholder="Country" disabled>
                                                            </div> 
                                                        </div>
                                                    </div>   
                                                    
                                                    
                                                    <!-- <label for="event-reminder-checkbox">Email Reminder?</label> -->
                                                    <!-- <input type="checkbox" id="js-event-reminder-checkbox" class="event-checkbox"/> -->
                    
                                                    
                                                    
                        
                                                    <div class="row">
                                                        <div class="col-sm-6 d-grid gap-2">
                                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                                        </div>

                                                        <div class="col-sm-6 d-grid gap-2">
                                                            <button type="submit" class="btn btn-primary">Create Reservation</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of modals-->

                    

                    <!--DEPRECATED - MAY NEED FOR EDIT EVENT FEATURE-->
                    <!-- <div id="editEventModal">
                        <h2 id="js-edit-event-title">New Event</h2>

                        <form action="/calendar/edit-event" method="POST">
                            <input type="hidden" id="event-id-edit" name="eventid">
                            <input type="text" id="event-title-edit" class="event-input" name="title" placeholder="Title" required/>
                            <input type="text" id="event-desc-edit" class="event-input" name="description" placeholder="Description"/>
                            <input type="text" id="event-loc-edit" class="event-input" name="location" placeholder="Location" required/>
                            <input type="email" id="event-participants-edit" class="event-input" name="participants" placeholder="Participants (UEA Email)"/>
                            <input type="time" id="event-start-time-edit" class="event-input" name="start" placeholder="Start Time" required/>
                            <input type="time" id="event-finish-time-edit" class="event-input" name="end" placeholder="Finish Time" required/> -->
                            
                            <!-- <label for="event-reminder-checkbox">Email Reminder?</label> -->
                            <!-- <input type="checkbox" id="js-event-reminder-checkbox" class="event-checkbox"/> -->
                            

                            <!-- <input id="editButton" type="submit" value="Confirm Edit"></input>
                            <button id="deleteButton">Delete</button>
                            <button id="cancelButton">Cancel</button>
                        </form>

                    </div> -->

                    <!--END OF: DEPRECATED - MAY NEED FOR EDIT EVENT FEATURE-->


                
                    
                    <!-- ExpandedviewModal -->
                    <div class="modal fade" id="expandedViewModal" tabindex="-1" aria-labelledby="expandedViewModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="expandedViewModalLabel"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <div class="container-fluid" id="expandedViewGrid">
                                        
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#createModal">Create New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of expandedViewModal-->

                    <!-- <div id="deleteEventModal">
                        <h2>Event</h2>

                        <p id="eventText"></p>-->

                        <!-- did have id of "deleteButton"-->
                        <!--<button >Delete</button>
                        <button id="cancelButton2">Cancel</button>

                    </div> -->

                    <!-- <div id="modalBackDrop"></div> -->

                </div>

            </div>
        </div>
        
        <script src="javascripts/calendar.js"></script>

    </body>

</html>
